/* Apply margin-bottom to each section */
#profile,
#about,
#experience,
#projects,
#contact {
  margin-bottom: 4rem; /* Adjust this value as needed */
}
#about {
  margin-top: 4rem; /* Add margin to the top of the about section */
}
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-me-pic-container {
    width: 206px; 
    height: 275px; 
    margin: 0 auto 2rem;
  }
 .intro-pic-container {
   width: 275px; 
   height: 275px; 
   margin: 0 auto 2rem; 
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 45vh;
  }
  #profile {
    height: auto;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 1rem;
  }
  .contact-info-upper-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0.5rem 0;
    text-align: center;
  }
  .contact-icon {
    height: 2rem;
    margin-bottom: 0.5rem;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .section-container {
    margin-top: 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
/* HAMBURGER MENU */
@media screen and (max-width: 768px) {
  .menu-links {
    position: fixed;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    right: 20px; /* Position it on the right side with some spacing */
    top: 60px; /* Adjust the top position for spacing */
    width: 250px;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded corners */
  }

  .menu-links li {
    list-style: none;
    margin-bottom: 0.5rem;
    text-align: right;
  }

  .menu-links a {
    display: block;
    padding: 10px 20px; /* Add padding for the links */
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #eee; /* Add a separator line between links */
  }

  .menu-links a:last-child {
    border: none; /* Remove border from the last link */
  }

  .menu-links.open {
    max-height: 300px;
  }
  .contact-info-container {
    flex-direction: column; /* Stack the elements vertically on smaller screens */
    gap: 0.2rem; /* Reduce the gap between elements */
    text-align: center;
  }
  section {
    margin: 2rem 0;
    padding: 1rem;
    transition: all 0.3s ease; /* Add transition for smooth changes */
  }

  .section-container {
    flex-direction: column;
    gap: 2rem;
  }

  .section__pic-container {
    width: 100%;
    max-width: 350px; /* Adjust as needed */
    margin: 0 auto 2rem;
  }
}
/* For screens between 768px and 1200px (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1200px) {
  section {
    margin: 2rem 1rem; /* Adjust the margin as needed */
    transition: all 0.3s ease; /* Add transition for smooth changes */
  }
}

